* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}



.search {
    position: fixed;
    top: 60px;
    right: 50px;
    width: 315px;
}

.info {
    position: fixed;
    top: 150px;
    right: 10px;
    
}

#title1{
    position: relative;
    left: 90px;
    font-weight: 600;
}
h3 {
    position: relative;
    right: 175px;
    
}

h5{
    position: relative;
    font-weight: 600;
}

#cardInfo {
    position: relative;
    width: 315px;
    right: 34px;
    border-radius: 15px;
}

p{
    margin: 2px;
    padding: 8px;
}

#search {
    background-color:  #E7BD42;
    border-radius: 20px;
}

#i {
    position: relative;
    top: 32px;
    margin-left: 280px;
    
}

#title2 {
    position: fixed;
    top: 295px;
    right: 145px;
    font-weight: 600;
}

.tienda {
    position: fixed;
    top: 350px;
    right: 90px;
}

.card1 {
    background-color:  #ffffff;
    border-radius: 1px;
    width: 250px;

    text-align:inherit;   
   
}

.card2 {
    background-color:  #ffffff;
    border-radius: 1px;
    position: relative;
    top: -60px;
    width: 250px;
  
}

.infor{
    position: relative;
    left: 185px;
    height: 100px;
    width: 100px;
    top: -90px;
    font-weight: 600;
    
}

h6{
    font-weight: 600;
}

#produc{
    width: 100px;
    border-radius: 15px;
}

.comentUser {
    position: relative;
    left: 100px;   
   
}

h3{
    position: relative;
    right: 60px;
    top: 5px;
    font-weight: 700;
}


@media (max-width: 1125px){
    #not {
        display: none;
    }
    
}


