* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
}


.row {
    margin: 0px;
    padding: 0px;
}






.tituloOf {
    position: relative;
    top: 50px;
   
}

#tl {
    position: relative;
    left: 20px;
    font-weight: 600;
    font-size: 18px;
}

#ft {
    position: relative;
    right: 40px;
}

#cerrar {
    position: relative;
    top: -45px;
    margin-left: 100%;
    text-decoration: none;
    color: #232323;
    font-size: x-large;

}

#selImg {
    position: relative;
    top: 130px;
    border-style: none;
    

}


#fondo {
    position: relative;
    width: 350px;
    height: 250px;
    border-radius: 20px;
   
}

#card2 {
    width: 480px;
    border-radius: 15px;
    position: relative;
    
    top: 90px;
    height: 400px;
    background-color: #C1BFBF;
    border-style: none;
    
}



#imgCard {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 10px;
}

#nameUser {
    position: relative;
    left: 30px;
    top: 15px;
    color: #232323;
    font-weight: 600;
}



 
.comentUser {
    position: relative;
    top: 30px;
    left: 20px;
    font-size: large;
}





.footer {
    position: relative;
    top: 30px;
    margin: 5px;
    padding: 5px;
    left: 10px;
    
}

.footer  i {
    color: #232323;
}

#itm {
    color: #232323;
}

.card a{
    list-style: none;
    text-decoration: none;
    
}

.coments {
    position: relative;
    top: 50px;
    margin: 10px;
    padding: 2px;
    width: 450px;
    left: 5px;
    border-radius: 15px;
    
}

.coments2 {
    position: relative;
    top: 30px;
    margin: 10px;
    padding: 2px;
    width: 450px;

    border-radius: 15px; 
}

#coment {
    border-radius: 15px;
}

.form-control {
    border-radius: 15px;
    background-color: #C1BFBF;
   
}

.input-group {
    position: relative;
    top: 10px;
    width: 400px;
    left: 20px;
}

#user1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    top: 30px;
}

#post {
    border-radius: 20px;
    position: relative;
    left: 80px;
    top: -15px;
    width: 320px;

}

#user1Com{
    top: 10px;
    position: relative;
}

#nameUser1 {
    color: #232323;
    font-weight: 600;
    padding: 0 20px;
 
    position: relative;
}

